$blueColor:                 #315379;
$defaultFontSize:           13px;
$defaultLineHeight:         20px;
$defaultTextColor:          #333;
$darkenTextColor:           #222;
$defaultLinkColor:          $blueColor;
$defaultBorderColor:        #DFDFD0;
$inputBorderColor:          #D6D6D6;

$headerBGColor:            $blueColor;

